<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Home</title>
</head>
<body>
    {{> layout}}
    {{#if true}} 
        <h3>{{user.username}}</h3>
    {{/if}}
    <h2>It works</h2>
</body>
</html>