<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Questions</title>
</head>
    <body>
        {{> layout}}
        <ul class="quesions_list">
            {{#each questions}}
            <li>
                <h2><a href="/questions/{{this._id}}">{{this.title}}</a></h2>
                <h3>{{this.description}}</h3>
            </li>
            {{/each}}
        </ul>
    </body>
</html>