<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="../../public/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">stack <b>overflow</b></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">

                    {{#if user}}
                        <li><a href="/questions/all"><span class="glyphicon glyphicon-education"></span> All questions</a></li>
                        <li><a href="/profile"><span class="glyphicon glyphicon-home"></span> {{user.username}}</a></li>
                        <li><a href="/auth/logout"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
                    {{else}}
                        <li><a href="/auth/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="/auth/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>