<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="../../public/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css" />
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">stack <b>overflow</b></a>
            </div>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="nav navbar-nav navbar-right">
                    {{#if user}}
                    {{#if (eq user.role "admin")}}
                        <li><a href="/admin/tags"><span class="glyphicon glyphicon-home"></span> Manage tags</a></li>
                    {{/if}}
                        <li><a href="/questions/top"><span class="glyphicon glyphicon-star"></span> Top table</a></li>
                        <li><a href="/questions/all"><span class="glyphicon glyphicon-education"></span> All questions</a></li>
                        <li><a href="/profile"><span class="glyphicon glyphicon-home"></span> {{user.username}}</a></li>
                        <li><a href="/auth/logout"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
                    {{else}}
                        <li><a href="/auth/register"><span class="glyphicon glyphicon-user"></span> Sign up</a></li>
                        <li><a href="/auth/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    {{/if}}
                </ul>
                {{#if user}}
                    <form class="navbar-form navbar-left" method="get" action="/questions/search">
                        <div class="form-group">
                            <input type="text" name="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-success">Search</button>
                    </form>
                {{/if}}
            </div>
        </div>
    </nav>
</body>
</html>